<style>
.body {
         background-color: #251a81; /* Cor de fundo da página */
         margin: 0;
         justify-content: space-between; /* Distribui os elementos uniformemente na linha */
      }

   h1 {
      font-size: 3.125rem;
      color: #ffffff;
      font-weight: 500;
      line-height: 100%;
      letter-spacing: -0.125rem;
      margin: 35px;
      text-align: left;
      
    }
   
    h2 {
      font-size: 3.125rem;
      color: #ffffff;
      font-weight: 500;
      line-height: 100%;
      letter-spacing: -0.125rem;
      margin: 10;
      text-align: left;
      
    }
   
    section{
   margin-right: 50px;
   border: 1.5px solid #ffffff;
   padding: 15px;
   border-radius: 10px; 
   
    }
   
    p {
      font-size: 1.025rem;
      margin: 10;
      color: #ffffff;
      text-align: left;
      
    }
   
    .img-container{
      text-align: left
   }
   
   img{
   border-radius:50%;
   margin-right: 0px;
   margin-left: 65px;
   margin-bottom: 80px;
   max-width: 100%;
   float: left;
   height: auto;
   border: 3px solid #ffffff
   }
   
   .profile-container {
            background-color: #251a81; /* Cor de fundo para o quadrado com nome e imagem */
            border: 2px solid #ffffff; /* Cor da borda */
            border-radius: 10px; /* Cantos arredondados */
            padding: 20px;
            margin-right: 50px;
            width: 500px;
            overflow: hidden; /* Limpar o float */
            float: left;
         }
   
   </style>
   <div class="body">
   
   <div class="profile-container">
      <h1> Luan Ferreira da Silva </h1>
   
      <img src=" assets/Imagens/foto.jpg" height = "300" width = "300"/>
   </div>
   
   <section>
   <h2>  Informações </h2>
   <p> Data de Nascimento: 24/01/2005</p>
   <p> Email: luan24062005&#64;gmail.com </p>
   <p> - 11997245461</p>
   
   </section>
   
   <section>
   
   <h2> Escolaridade</h2>
   <P> Ensino Médio Completo(Escola Estadual Professor Pery Guarany Blackman) </P>
   <p> Cursando: Curso Superior de Tecnologia em Análise e Desenvolvimento de Sistemas - Fatec Itu</p>
   
   </section>
   
   <section>
         <h2>  Objetivos  </h2>
         <p> Busco oportunidades para aplicar e desenvolver minhas habilidades, estou compremetido com o aprendizado contínuo e prontidão para adquirir novas habilidades e conhecimentos conforme o necessário.
            Com uma mentalidade proativa e adaptável, estou ansioso para contribuir positivamente em um ambiente de trabalho dinâmico.
             Minha inexperiência é compensada pela capacidade de trabalho em equipe, resiliência,
              atributos que considero fundamentais para enfrentar novos desafios e integrar-me efetivamente a equipes colaborativas."</p>
      
   </section>

</div>